// Imports
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Open+Sans:wght@400;600&display=swap');

// Definitions
$leading-spacing: 100px;

// Text
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

p, a, span, li, input, textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    strong {
        font-weight: 600;
    }
}

// Color
.dark-bg {
    background-color: #000;
    color: #fff;

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }

    p {
        color: #C5C9CB;

        strong {
            color: #fff;
        }
    }
}

.light-bg {
    background-color: #F0F0F0;
    color: #000;

    h1, h2, h3, h4, h5, h6 {
        color: #000;
    }

    p {
        color: #434343;

        strong {
            color: #000;
        }
    }
}


// Layout
h1 {
    margin-bottom: 1rem;
}

.container-fluid {
    margin: 0;
}


// Concrete Elements
.hero-section {
    height: 90vh;
    overflow: hidden;
    
    [class^="col"] {
        padding: $leading-spacing;
    }
    
    .logo {
        height: 2rem;
        margin-bottom: 2rem;
    }
    .device {
        transform: scale(1.2) translateY(-20%);
    }
}

.features-section {
    height: 90vh;

    .title {
        padding-left: $leading-spacing;
    }

    .col-12 {
        padding-left: 0;
        padding-right: 0;
        overflow: auto;
    }

    .scrolling-wrapper{
        overflow-x: auto;
    }

    .previews {
        overflow: visible;
        

        [class^="col"] {
            padding-left: 0;
            padding-right: 0.2rem;

            &:first-child {
                margin-left: $leading-spacing;
            }
            
            img {
                border-radius: 2rem;
            }
        }
    }
}
