// Imports
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Open+Sans:wght@400;600&display=swap');

// Definitions
$leading-spacing: 100px;

// Text
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

p,
a,
span,
li,
input,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    strong {
        font-weight: 600;
    }
}

// Color
.dark-bg {
    background-color: #000;
    color: #fff;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    p {
        color: #C5C9CB;

        strong {
            color: #fff;
        }
    }
}

.light-bg {
    background-color: #F0F0F0;
    color: #000;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000;
    }

    p {
        color: #434343;

        strong {
            color: #000;
        }
    }
}

.white-bg {
    background-color: #f6f6f8;
    color: #000;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000;
    }

    p {
        color: #434343;

        strong {
            color: #000;
        }
    }
}



// Layout
h1 {
    margin-bottom: 1rem;
}

.container-fluid {
    margin: 0;
}


// Concrete Elements
.hero-section {
    height: 9h;
    overflow: hidden;

    [class^="col"] {
        padding: $leading-spacing;
    }

    .logo {
        height: 2rem;
        margin-bottom: 2rem;
    }

    .device {
        transform: scale(1.2) translateY(-10%);
    }

    .app-store-badge > img {
        height: 3rem;
        margin-top: 2rem;
    }
}

.regular-section {
    // height: 90vh;

    padding-top: 6rem;
    padding-bottom: 6rem;

    .title {
        padding-left: $leading-spacing;
        margin-bottom: 2rem;

        &.text-center {
            padding-left: 0;
        }
    }
}

.features-section {
    .col-12 {
        padding-left: 0;
        padding-right: 0;
        overflow: auto;
    }

    .scrolling-wrapper {
        overflow-x: auto;

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .previews {
        overflow: visible;

        .col {
            padding-left: 0;
            padding-right: 0;
            margin-right: 0.3rem;

            &:first-child {
                margin-left: $leading-spacing;
            }

            &:last-child {
                margin-right: $leading-spacing;
            }

            img {
                border-radius: 2rem;
                height: 40rem;
                // width: 100%;
            }
        }
    }
}

.server-section {
    .server-image {
        img {
            max-width: 100%;
            max-height: 70vh;
        }
    }
}

.privacy-section {
    min-height: 80vh;

    h2 {
        img {
            height: 3rem;
            margin-left: 1rem;
        }
    }
}