// 
// Colors
// 

// Override Bootstrap color systel colors

$blue: #2937f0;
$purple: #9f1ae2;

$yellow: #ffd527;
$orange: #f4b400;

// Override Bootstrap default state colors

$primary: $yellow;
$secondary: $orange;
